.personal-info {
    margin-bottom: 20px;
    background-color: grey;
  }
  
  .error {
    color: red;
  }
  
  .retry-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .retry-button:hover {
    background-color: #45a049;
  }
  